nav {
  display: flex;
  justify-content: flex-end;
  height: 3em;
  background-color: $nav-color;
  margin: 0px;
  
  p{
    margin: 10px;
  }
  
  p:last-child{
    margin-right: 30px !important;
  }

  a{
    color: $font-color;
  }

  a:hover{
    color: $hover-color;
  }
}