$font-stack: Helvetica, sans-serif;
$bg-color: #324245;
$font-color: white;
$nav-color: #2f2;

@import 'body';

nav {
  height: 1.5em;
  background-color: $nav-color;
  
  a{
    color: $font-color;
  }
}
