$font-stack: Helvetica, sans-serif;
$bg-color: #123ABC;
$font-color: red;
$nav-color: #2f2;

body {
  font: 100% $font-stack;
  background-color: $bg-color;
}

nav {
  height: 1.5em;
  background-color: $nav-color;
}

nav > a {
  color: $font-color;
}